lazygit/state.yml
taskwarrior/task
Xresources
.ignore

config/*
!config/alacritty
!config/bat
!config/dunst
!config/git
!config/gtk-3.0
!config/lazydocker
!config/lazygit
!config/neofetch
!config/nvim
!config/oh-my-zsh
!config/pgcli
!config/regolith2
!config/starship
!config/taskwarrior
!config/tmux
!config/zsh
config/zsh/.zcompdump*
!config/okularpartrc
