tmp

# ignore tmux plugins
src/config/tmux/plugins/*

# except for tpm as submodule
!src/config/tmux/plugins/tpm

# zsh completion files
src/config/zsh/.zcompdump*
src/config/ranger/__pycache__
src/config/ranger/plugins/__pycache__
