export EDITOR=nvim
export VISUAL=nvim
export TERMINAL=alacritty

paths=(
	$HOME/bin
	/usr/local/sbin
)
export PATH=$(IFS=: ; echo "${paths[*]}"):$PATH

export XDG_CONFIG_DIR="$HOME/.config"
export XDG_DATA_DIR="$HOME/.local/share"
export XDG_DOWNLOAD_DIR="$HOME/Downloads"
export XDG_PICTURES_DIR="$HOME/Pictures"

# homebrew
{{- if eq .chezmoi.arch "arm64" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else }}
eval "$(/usr/local/bin/brew shellenv)"
{{- end }}

# asdf
export ASDF_CONFIG_FILE="${XDG_CONFIG_DIR}/asdf/.asdfrc"
. $HOMEBREW_PREFIX/opt/asdf/libexec/asdf.sh
. ~/.asdf/plugins/java/set-java-home.zsh
. ~/.asdf/plugins/golang/set-env.zsh

# include local env file
if [[ -f ~/.zshenv.local ]]; then
	source ~/.zshenv.local
fi
